<% provide :title, t("static_pages.help.title") %>
<div class="all-title-box">
  <div class="container wrapper-content">
    <div class="row">
      <div class="col-lg-12">
        <h2><%= t "static_pages.help.title" %></h2>
         <%= link_to t("static_pages.login"), login_path, class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  </div>
</div>
