<!DOCTYPE html>
<html>
  <head>
   <style>
      table, th, td {
      border: 1px solid black;
    }
    </style>
  </head>
  <body>
    <h1><%= t "admin.head_mail_approced" %></h1>
    <%= render "booking" %>
  </body>
</html>
