<h1><%= t "users.verify" %></h1>
<p><%= t "users.hi_signup", name: @user.first_name + " " + @user.last_name %></p>
<%= link_to t("users.verify"), edit_account_activation_url(id: @user.activation_token, email: @user.email) %>
