<% if session[:cart].size == 0 %>
  <p class="text-center">
    <%= t "cart.cart_nil_html", link: link_to(t("other.go_back"), root_path) %>
  </p>
<% else %>
  <h2><%= t "cart.list" %></h2>
  <div class="list-group">
    <% session[:cart].each do |cart_row| %>
      <%= render "cart_row", cart_row: cart_row %>
    <% end %>
  </div>
<% end %>
