body {
  color: #666666;
  font-size: 15px;
  font-family: "Quattrocento Sans", sans-serif;
  line-height: 1.80857;
}
a {
  color: #1f1f1f;
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: 120% !important;
  color: #1f1f1f;
  margin: 0;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 13px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #212121;
  text-decoration: none !important;
  opacity: 1;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  opacity: 0.8;
}
a {
  color: #1f1f1f;
  text-decoration: none;
  outline: none;
}
a,
.btn {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn-custom {
  margin-top: 20px;
  background-color: transparent !important;
  border: 2px solid #ddd;
  padding: 12px 40px;
  font-size: 16px;
}
.lead {
  font-size: 18px;
  line-height: 30px;
  color: #767676;
  margin: 0;
  padding: 0;
}
blockquote {
  margin: 20px 0 20px;
  padding: 30px;
}
ul,
li,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
button:focus {
  outline: none;
  box-shadow: none;
}
:focus {
  outline: 0;
}
p {
  margin: 0px;
}

.main-top {
  background: #010101;
  padding: 10px 0px;
}
.custom-select-box {
  float: right;
  width: 95px;
  margin-left: 20px;
}
.custom-select-box .form-control {
  background: none;
  border: none;
}
.custom-select-box .bootstrap-select .btn-light {
  padding: 4px;
  font-size: 14px;
  background: #d33b33;
  color: #fff;
  border: none;
  border-radius: 0px;
}
.custom-select-box .bootstrap-select .btn-light span {
  padding: 2px;
  line-height: 15px;
}
.dropdown-toggle::after {
  margin-left: -24px;
}
.custom-select-box .dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  position: absolute;
  top: 13px;
  right: 10px;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  overflow: inherit;
}
.bootstrap-select.btn-group .dropdown-menu {
  border: none;
  padding: 0px;
  border-radius: 0px;
}
.right-phone-box {
  float: right;
  margin-left: 10px;
}
.right-phone-box p {
  margin: 0px;
  color: #ffffff;
  font-size: 14px;
  line-height: 30px;
}
.right-phone-box p a {
  color: #ffffff;
}
.right-phone-box p a:hover {
  color: #d33b33;
}
.offer-box,
.slide {
  color: #ffffff;
  font-size: 13px;
  padding: 2px 15px;
  font-family: "Montserrat", sans-serif;
}
.offer-box li {
  font-weight: 600;
}
.offer-box li i {
  margin-right: 15px;
  color: #d33b33;
  font-size: 20px;
}
.our-link {
  float: right;
}
.our-link ul li {
  display: inline-block;
  border-right: 1px solid #ffffff;
  padding: 0px 10px;
  line-height: 14px;
}
.our-link ul {
  line-height: 30px;
}
.our-link ul li a {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}
.our-link ul li a:hover {
  color: #d33b33;
}
.our-link ul li:last-child {
  border: none;
}
.main-header {
}
.search a {
  color: #d33b33;
}
.attr-nav > ul > li > a:hover {
  color: #d33b33;
}
nav.navbar.bootsnav ul.nav > li > a {
  margin: 0px;
}
/* Navbar Adjusment =========================== */
/* Navbar Atribute ------*/
.attr-nav > ul > li > a {
  padding: 28px 15px;
}
ul.cart-list > li.total > .btn {
  border-bottom: solid 1px #cfcfcf !important;
  color: #010101;
  padding: 10px 15px;
  border: none;
  font-weight: 700;
  color: #ffffff;
}

/* Navbar Inverse =================================*/
nav.navbar.navbar-inverse {
  background-color: #222;
  border-bottom: solid 1px #303030;
}
nav.navbar.navbar-inverse ul.cart-list > li.total > .btn {
  border-bottom: solid 1px #222 !important;
}
nav.navbar.navbar-inverse ul.cart-list > li.total .pull-right {
  color: #fff;
}
nav.navbar.navbar-inverse.megamenu ul.dropdown-menu.megamenu-content .content ul.menu-col li a,
nav.navbar.navbar-inverse ul.nav > li > a {
  color: #eee;
}
nav.navbar.navbar-inverse ul.nav > li.dropdown > a {
  background-color: #222;
}
nav.navbar.navbar-inverse li.dropdown ul.dropdown-menu > li > a {
  color: #999;
}
nav.navbar.navbar-inverse ul.nav .dropdown-menu h1,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h2,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h3,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h4,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h5,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h6 {
  color: #fff;
}
nav.navbar.navbar-inverse .form-control {
  background-color: #333;
  border-color: #303030;
  color: #fff;
}
nav.navbar.navbar-inverse .attr-nav > ul > li > a {
  color: #eee;
}
nav.navbar.navbar-inverse .attr-nav > ul > li.dropdown ul.dropdown-menu {
  background-color: #222;
  border-left: solid 1px #303030;
  border-bottom: solid 1px #303030;
  border-right: solid 1px #303030;
}
nav.navbar.navbar-inverse ul.cart-list > li {
  border-bottom: solid 1px #303030;
  color: #eee;
}
nav.navbar.navbar-inverse ul.cart-list > li img {
  border: solid 1px #303030;
}
nav.navbar.navbar-inverse ul.cart-list > li.total {
  background-color: #333;
}
nav.navbar.navbar-inverse .share ul > li > a {
  background-color: #555;
}
nav.navbar.navbar-inverse .dropdown-tabs .tab-menu {
  border-right: solid 1px #303030;
}
nav.navbar.navbar-inverse .dropdown-tabs .tab-menu > ul > li > a {
  border-bottom: solid 1px #303030;
}
nav.navbar.navbar-inverse .dropdown-tabs .tab-content {
  border-left: solid 1px #303030;
}
nav.navbar.navbar-inverse .dropdown-tabs .tab-menu > ul > li > a:hover,
nav.navbar.navbar-inverse .dropdown-tabs .tab-menu > ul > li > a:focus,
nav.navbar.navbar-inverse .dropdown-tabs .tab-menu > ul > li.active > a {
  background-color: #333 !important;
}
nav.navbar-inverse.navbar-full ul.nav > li > a {
  border: none;
}
nav.navbar-inverse.navbar-full .navbar-collapse .wrap-full-menu {
  background-color: #222;
}
nav.navbar-inverse.navbar-full .navbar-toggle {
  background-color: #222 !important;
  color: #6f6f6f;
}
nav.navbar.bootsnav ul.nav > li > a {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  color: #010101;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 30px;
}
nav.navbar.bootsnav ul.nav li.active > a {
  color: #d33b33;
}
nav.navbar.bootsnav ul.nav li.active > a:hover {
  color: #d33b33;
}
nav.navbar.bootsnav ul.nav li > a:hover {
  color: #d33b33;
}
nav.navbar.bootsnav ul.nav li.megamenu-fw > a:hover {
  color: #d33b33;
}
.arrow::before {
  font-family: "FontAwesome";
  content: "\f0d7";
  margin-left: 5px;
  margin-top: 2px;
  border: none;
  display: inline-block;
  vertical-align: inherit;
  position: absolute;
  right: 10px;
  top: 28px;
}
.dropdown-toggle::after {
  display: none;
}
nav.navbar.bootsnav ul.navbar-nav li.dropdown ul.dropdown-menu li a {
  display: block;
}
nav.navbar.bootsnav li.dropdown ul.dropdown-menu {
  border: solid 1px #e0e0e0;
  left: auto;
}
.btn-cart {
}
.cart-list h6 a {
  font-size: 16px;
  font-weight: 700;
}
.cart-list h6 a:hover {
  color: #d33b33;
}
ul.cart-list p .price {
  font-weight: normal;
}
.col-menu .title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.hvr-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #d33b33;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 0;
  box-shadow: none;
}
.hvr-hover::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #010101;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-hover:hover::after {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  color: #ffffff;
}
.hvr-hover {
}
ul.cart-list > li.total > .btn:hover {
  color: #ffffff;
}
.cart-box {
  margin-top: 40px;
  background: #ffffff;
}
.main-header.fixed-menu {
  position: fixed;
  visibility: hidden;
  left: 0px;
  top: 0px;
  width: 100%;
  padding: 0px 0px;
  background: #ffffff;
  z-index: 0;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  z-index: 999;
  opacity: 1;
  visibility: visible;
  -ms-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -op-animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -ms-animation-duration: 500ms;
  -moz-animation-duration: 500ms;
  -op-animation-duration: 500ms;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -ms-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -op-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -ms-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -op-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.main-header.fixed-menu {
  padding: 0px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0;
}
.top-search .input-group-addon {
  line-height: 40px;
}
.top-search input.form-control {
  color: #ffffff;
}

.title a {
  font-size: 30px;
}

.container-header {
  display: flex !important;
  justify-content: space-around !important;
  align-items: center !important;
}

.all-title-box {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  background-attachment: fixed;
  padding: 70px 0px;
  position: relative;
}
.all-title-box::before {
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
.all-title-box h2 {
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  padding-bottom: 30px;
}
.all-title-box .breadcrumb {
  background: #d33b33;
  margin: 0px;
  display: inline-block;
  border-radius: 0px;
}
.all-title-box .breadcrumb li {
  display: inline-block;
  color: #010101;
  font-size: 16px;
}
.all-title-box .breadcrumb li a {
  color: #ffffff;
  font-size: 16px;
}
.all-title-box .breadcrumb-item + .breadcrumb-item::before {
  color: #010101;
}

.footer-copyright {
  background: #2c2c2c;
  padding: 20px 0px;
  position: relative;
}
.footer-copyright p {
  text-align: center;
  color: #ffffff;
  font-size: 16px;
}
.footer-copyright p a {
  color: #ffffff;
}
.footer-copyright p a:hover {
  color: #d33b33;
}

.title-page {
  font-size: 22px;
  color: #333;
  font-weight: 500;
}

.wrapper-content {
  position: relative;
  z-index: 100;
}
